/* public/styles.css */
body {
  font-family: "Poppins", serif;
  min-height: 100vh;
  overflow-x: hidden;
}


.max-width-1440 {
  max-width: 1440px;
  margin: auto;
  /* Maximum width */
}

.quizPage {
  min-height: 100vh;
  height: 100%;
  padding: 80px 20px
}

.quizPage,
.quizForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.quizForm {
  flex-direction: row;
}


.counterWrapper {
  position: absolute;
  right: 30px;
  top: 30px;
  height: 50px;
  width: 50px;
  border: 3px solid darkcyan;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counterWrapper span {
  font-size: 30px;
  font-weight: bold;
  color: darkcyan;
  padding: 0;
  margin: 0;
}

.section math {
  font-size: 30px;
}

.showAnswerButton,
.hideAnswerButton,
.yearAvailableWrapper,
.examTypes,
.quizButton {
  display: none;
}

.yearAvailableWrapper.active,
.examTypes.active,
.quizButton.active,
.showAnswerButton.active,
.hideAnswerButton.active {
  display: block;
}

.quizForm .listOfSubjects select,
.quizForm .examTypes,
.quizForm .yearsAvailable select {
  text-transform: capitalize;
}