/* public/styles.css */
body {
  font-family: "Poppins", serif;
  min-height: 100vh;
  overflow-x: hidden;
}


.max-width-1440 {
  max-width: 1440px;
  margin: auto;
  /* Maximum width */
}

.practicePage,
.quizPage {

  height: 100%;
  padding: 80px 20px
}

.practicePage,
.quizPage,
.practiceForm,
.quizForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.practiceForm,
.quizForm {
  flex-direction: row;
}


.counterWrapper {
  position: absolute;
  right: 30px;
  top: 30px;
  height: 50px;
  width: 50px;
  border: 3px solid darkcyan;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counterWrapper span {
  font-size: 30px;
  font-weight: bold;
  color: darkcyan;
  padding: 0;
  margin: 0;
}

.section math {
  font-size: 30px;
}

.nextQuestionButton,
.showAnswerButton,
.hideAnswerButton,
.yearAvailableWrapper,
.examTypes,
.getQuestionButton {
  display: none;
}

.yearAvailableWrapper.active,
.examTypes.active,
.getQuestionButton.active,
.nextQuestionButton.active,
.showAnswerButton.active,
.hideAnswerButton.active {
  display: block;
}

form .listOfSubjects select,
form .listOfSubjects select option,
form .examTypes,
form .yearsAvailable select {
  text-transform: capitalize;
}


/* quizPage */

.optionWrapper {
  display: flex;
  gap: 10px;
}

.questionWrapper .options label.correctAnswer {
  color: green;
  font-weight: bold;
  position: relative;
}


.questionWrapper .options label.correctAnswer::after {
  content: "✔";
  color: green;
  margin-left: 8px;
  font-size: 16px;
  vertical-align: middle;
}

.questionWrapper .options label.wrongAnswer {
  color: red;
  font-weight: bold;
  text-decoration: line-through;
}

.questionWrapper .options label.wrongAnswer::after {
  content: "✖";
  color: red;
  margin-right: 8px;
  font-size: 16px;
  vertical-align: middle;
}