<%- include('./partials/header.ejs') %>

  <div
    class="frontPage section container-fluid d-flex flex-column justify-content-center align-items-center max-width-1440 mx-auto bg-light">
    <h1>Welcome to the Pass.It.NG!</h1>
    <p> Online platform for Nigerian students to prepare for their WAEC, UTME, and Post-UTME exams. </p>

    <div class="container d-flex justify-content-center align-items-center gap-3">
      <a href="/quiz" type="button" class="btn btn-light btn-outline-dark takeQuiz">Take a quiz</a>
      <a href="/practice-test" class="btn btn-dark btn-outline-light   border-dark fullQuestionsButton">Practice
        Test</a>
    </div>
  </div>
  <%- include('./partials/footer.ejs') %>