<%- include('./partials/header.ejs') %>
  <div class="container-fluid w-100  d-flex  p-3"><a href="/" class="btn btn-light  btn-outline-dark homeButton"><i
        class="fa-solid fa-house fa-2x"></i></a></div>
  <div class="counterWrapper d-none">
    <span id="counter">0</span>
  </div>
  <div class="practicePage section container-fluid max-width-1440  w-100 bg-light">
    <h1>Enjoy the practice!</h1>
    <p>Chose a subject, exam year, and exam type</p>
    <form action="/practiceQuestion" class="container practiceForm gap-3 flex-wrap" method="get">

      <div div class="listOfSubjects">
        <select class="form-select" aria-label="Default select example" required>
          <option selected>Subject available</option>
        </select>
      </div>

      <div class="examTypes w-100 text-center my-2">
        <input type="radio" class="btn-check" name="options-base" value="utme" id="utme" autocomplete="off" required>
        <label class="btn " for="utme">utme</label>

        <input type="radio" class="btn-check " name="options-base" value="wassce" id="wassce" autocomplete="off"
          required>
        <label class="btn" for="wassce">wassce</label>

        <input type="radio" class="btn-check" name="options-base" value="post-utme" id="postUtme" autocomplete="off"
          required>
        <label class="btn" for="postUtme">post-utme </label>
      </div>


      <button type="submit" class="btn btn-success  border-success getQuestionButton">Get Your Question</button>
      <button type="submit" class="btn btn-success  border-success nextQuestionButton">Next Question</button>

    </form>


    <div class="container-fluid questionWrapper my-5 px-0"></div>

    <div class="spinner-grow loaderSpinner d-none" style="width: 3rem; height: 3rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="container-fluid loadingText p-0 m-0 mt-3 d-none">
      <p class="text-center">Loading questions...</p>
    </div>

    <div class="container-fluid w-100 p-0">
      <button type="button" class="btn btn-light btn-outline-dark showAnswerButton">Show Answer</button>
      <button type="button" class="btn btn-light btn-outline-dark hideAnswerButton">Hide Answer</button>

    </div>
  </div>
  <%- include('./partials/footer.ejs') %>