<%- include('./partials/header.ejs') %>

  <div class="counterWrapper">
    <span id="counter">0</span>
  </div>
  <div class="quizPage section container-fluid max-width-1440  bg-light">
    <h1>Enjoy the quiz!</h1>
    <p>Chose a subject, exam year, and exam type</p>
    <form action="/quizQuestion" class="container quizForm gap-3 flex-wrap" method="get">

      <div div class="listOfSubjects">
        <select class="form-select" aria-label="Default select example" required>
          <option selected>Subject available</option>
        </select>
      </div>

      <div class="yearAvailableWrapper">
        <div div class="yearsAvailable">
          <select class="form-select" aria-label="Default select example" required>
            <option selected>Years available</option>
          </select>
        </div>
      </div>

      <div class="examTypes w-100 text-center">
        <input type="radio" class="btn-check" name="options-base" value="utme" id="utme" autocomplete="off" required>
        <label class="btn" for="utme">utme</label>

        <input type="radio" class="btn-check" name="options-base" value="wassce" id="wassce" autocomplete="off"
          required>
        <label class="btn" for="wassce">wassce</label>

        <input type="radio" class="btn-check" name="options-base" value="post-utme" id="postUtme" autocomplete="off"
          required>
        <label class="btn" for="postUtme">post-utme </label>
      </div>


      <button type="submit" class="btn btn-success  border-success quizButton">Start Quiz</button>

    </form>


    <div class="container-fluid questionWrapper"></div>

    <button type="button" class="btn btn-light btn-outline-dark showAnswerButton">Show Answer</button>
  </div>
  <%- include('./partials/footer.ejs') %>